$bgColor: #f9fafc;

//AuthCard colors
$authCardHeading: #292b33;
$authCardMain: #545766;
$authSliderBlack: #18181b;
$authSliderGray: #71717a;

// $primaryRed: #bf3947;
$gray1: #edeef2;
$gray2: #dcdee6;
$gray3: #838799;
